
#links-container {
    margin: 50px auto auto auto;
}

#link-list {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 50px auto auto auto;

}

.link-img {
    width: 200px;
    height: 200px;
}

.link-wide-img {
    width: 400px;
    height: 200px;
}

#graphicacy-img {
    width: 400px;
    height: 200px;
}

#xword-img {
    width: 350px;
    height: 200px;
}

#ramones-img {
    width: 350px;
    height: 200px;
}

#batted-ball-1 {
    width: 400px;
    height: 200px;
}

#batted-ball-2 {
    width: 400px;
    height: 200px;
}

#vr-batted-ball-1 {
    width: 400px;
    height: 200px;
}

#vr-engsoccer-1 {
    width: 400px;
    height: 200px;
}