
.main-label {
    font: 14px sans-serif;
    fill: #332222;
    text-decoration: underline;
}

.matchup-label {
    font: 10px sans-serif;
    fill: #332222;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


#uisearch {
    position: fixed;
}

#outbound {
    position: absolute;
    margin-top: 0px;
    margin-left: 400px;
    font-size: 24px;
}

